.rectangular-shadow-button {
  box-shadow: 0 0 0 2px rgba(255, 82, 82, 0.5);
  border-radius: 0;
}

.rectangular-shadow-button:hover {
  box-shadow: 0 0 0 4px rgba(255, 82, 82, 0.5);
  border-radius: 0;
}
